{% extends "base.html" %}
{% block content %}
    <h1>Pacientes</h1>
    <a class="button" href="/pacientes/nuevo">Nuevo Paciente</a>
    <ul class="pacientes-lista">
        {% for p in pacientes %}
        <li>
            <div>
                <a href="/pacientes/{{ p.id }}">{{ p.nombre }}</a>
                <span>{{ p.dni }}</span>
            </div>
            <a href="/pacientes/{{ p.id }}/editar" class="btn-editar">Editar</a>
        </li>
        {% else %}
        <li>No hay pacientes registrados.</li>
        {% endfor %}
    </ul>
{% endblock %}

